numpy>=1.24
bcrypt==4.3.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
dominate==2.9.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==3.2.2
importlib_metadata==8.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.5.0
MarkupSafe==2.0.1
nltk==3.6.5
